# THE BELOW VALUES CAN BE LEFT AS IS OR CAN BE CUSTOMIZED AS YOU SEE FIT.
aws_region                 = "us-east-1"
k8s_secret_for_s1_github   = "s1-github-access"
s1_helper_image_repository = "docker.pkg.github.com/s1-agents/cwpp_agent/s1helper"
s1_helper_image_tag        = "ga-4.6.4"
s1_agent_image_repository  = "docker.pkg.github.com/s1-agents/cwpp_agent/s1agent"
s1_agent_image_tag         = "ga-4.6.4"
s1_site_key                = "S1-SITE-TOKEN-GOES-HERE"
s1_namespace               = "s1"
registry_server            = "docker.pkg.github.com"
registry_username          = "s1customer@sentinelone.com"
registry_password          = "S1-GITHUB-ACCESS-TOKEN-GOES-HERE"
helm_release_name          = "s1"
aws_key_name               = "AWS-ACCESS-KEY-NAME-GOES-HERE"